<div [ngClass]="getClass()">
<app-cell *ngFor="let cell of cellArray; let i = index" [string]="getSymbol(i)" (click)="getTries(i)" ></app-cell>
</div>

<div class="tries-block">
  <p>Tries:{{tries}} </p>
  <button (click)="onReset()">Reset</button>
</div>


