.container {
  width: 300px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  margin: 0 auto;
  text-align: center;
}

.tries-block {
  text-align: center;
}

.disabled {
  pointer-events: none;
}
